<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    $CSS_LINK

    <title>$TAB_TITLE</title>
</head>
<body>
    <header>
        <nav>
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/admin">Admin</a>
            <div id="dropdown">
                <div class="dropdown-button navbar-item">Documentation</div>
                <div id="documentation-dropdown" class="dropdown-content">
                </div>
            </div>
            <a class="navbar-item" href="/logout">Log out</a>
        </nav>
    </header>
    <div id="container">
        <main>